name: C++ CI

on:
  push:
    branches: ['**']
    tags: ['**']
  workflow_dispatch:
    inputs:
      build_type:
        description: Build type
        required: false
        default: 'Debug'
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
          - MinSizeRel

env:
  BUILD_TYPE: ${{ inputs.build_type || 'Debug' }}
  EXECUTABLE_NAME: "oop"
  INPUT_FILENAME: "tastatura.txt"
  BIN_DIR: "bin"
  BUILD_DIR: "build"
  SFML_VERSION: "2024-12-21-3.0.0"

defaults:
  run:
    shell: bash

jobs:
  cppcheck:
    name: "Cppcheck"
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    env:
      CPPCHECK_VER: "2.14.2"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run cppcheck
        uses: ./.github/actions/cppcheck

  clang-tidy:
    name: "Clang-Tidy"
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    env:
      CLANG_VER: 18
    steps:
      # AICI AM REPARAT INDENTAREA CARE DADEA EROARE DE SINTAXA
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libharfbuzz-dev libfreetype6-dev libx11-dev libxrandr-dev libxcursor-dev libudev-dev libgl1-mesa-dev libflac-dev libogg-dev libvorbis-dev libopenal-dev
      
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Run clang-tidy
        uses: ./.github/actions/clang-tidy

  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    permissions:
      attestations: write
      contents: write
      id-token: write

    env:
      CC: ${{ matrix.c }}
      CXX: ${{ matrix.cxx }}
      VSCMD_SKIP_SENDTELEMETRY: 1

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            c: gcc-12
            cxx: g++-12
            name: "Ubuntu GCC 12"
            cmake_flags: "-DBUILD_SHARED_LIBS=FALSE"
            cmake_generator: Ninja

          - os: macos-14
            c: clang
            cxx: clang++
            name: "macOS 14 Clang"
            cmake_flags: "-DSFML_BUILD_FRAMEWORKS=FALSE -DBUILD_SHARED_LIBS=FALSE"

          - os: windows-2022
            c: cl
            cxx: cl
            name: "Windows MSVC"
            cmake_flags: "-DBUILD_SHARED_LIBS=TRUE"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Dependinte necesare pentru Job-ul de Build pe Linux
      - name: Install Linux Dependencies (Build Job)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libharfbuzz-dev libfreetype6-dev libx11-dev libxrandr-dev libxcursor-dev libudev-dev libgl1-mesa-dev libflac-dev libogg-dev libvorbis-dev libopenal-dev pkg-config

      - name: Set CMake Version
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.29.0'

      - name: Set timestamp and zip name
        run: |
          echo "TIMESTAMP=$(date +%Y-%m-%d-%H-%M-%S)" >> ${GITHUB_ENV}
          echo "ZIP_NAME=$(echo "${GITHUB_REPOSITORY}_${{ env.BUILD_TYPE }}_${{ matrix.os }}" | sed 's|/|_|')" >> ${GITHUB_ENV}

      - name: Install packages
        continue-on-error: true
        uses: ./.github/actions/install-packages

      - name: Configure CMake
        uses: ./.github/actions/configure-cmake
        with:
          custom_flags: ${{ matrix.cmake_flags }}
          warnings_as_errors: 'OFF'

      - name: Build
        run: bash ./scripts/cmake.sh build -c ${{ env.BUILD_TYPE }}

      - name: Install
        run: bash ./scripts/cmake.sh install -c ${{ env.BUILD_TYPE }} -i artifacts

      - name: Move artifacts
        run: |
          mkdir ${{ env.ZIP_NAME }}
          shopt -s dotglob
          mv artifacts/${{ env.BIN_DIR }}/* ${{ env.ZIP_NAME }} || true

      - name: Process artifacts
        uses: ./.github/actions/process-artifacts

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}_${{ env.TIMESTAMP }}
          include-hidden-files: true
          path: ${{ env.ZIP_NAME }}
          retention-days: 30